*{
  margin: 0px;
  padding: 0px;
}
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
  font-family: "Open Sans", serif !important;
  background: #ebe9e9;
}
header{
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
header .logo{
  width: 45px;
}
header .head-main{
  max-width: 98%;
  margin: 0 auto; 
}
header .d-text{
  margin-left: 10px;
  color: #000;
  font-size: 24px;
  font-weight: 800;
}
.head-menu-btn-1{
  max-width: 40px !important;
  width: 40px !important;
  height: 48px !important;
  background: #f0f5ff !important;
  color: #91a2c4 !important;
  border-radius: 50% !important;
  font-size: 22px !important;
  margin-right: 10px !important;
  transition: all 0.2s sase-in-out;
}
.head-menu-btn-1:hover svg{
  color: #3276ff !important;  
}
.search-box{
  width: 300px !important;
  border-radius: 10px !important;
  background: #f0f5ff !important;
  height: 40px;
  padding: 5px 15px;
}
.search-box input{
  background-color: transparent;
  border: 0px;
  outline: none;
  font-size: 14px;
  color: #000;
}
.search-box svg{
  font-size: 22px;
  color: #000;
}
.search-box input::-webkit-input-placeholder{
  color: rgba(0,0,0,0.7);
}
.myacc{
  color: #000 !important;
  text-align: left;
  text-transform: capitalize !important;
}
.userImg {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 40px;
  width: 40px;
  border: 1px solid #0858f7;
  padding: 2px;
  border-radius: 100%;
}
.userImg .rounded-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}
.userImg .rounded-circle img{
  object-fit: cover;
  width: 100%;
  height:100%;
}
.myacc .userInfo{
  padding-left: 10px;
}
.myacc .userInfo h4{
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 600;
}
.myacc .userInfo p{
  margin-top: 0px;
  font-size: 12px;
  opacity: 0.7;
  color: #000;
  text-align: start !important;
}
#account-menu li{
  font-size: 14px !important;
  padding: 12px 15px !important;
}
#account-menu li svg{
  font-size: 20px !important;
}
#notification .MuiPaper-elevation{
  right:240px !important;
  left: auto !important;
  width: 300px !important;
  top: 60px !important;
}
.head{
  padding: 0 0 0 12px !important;
}
.dropdown_list h4{
  font-size: 20px !important;
  font-weight: 600;
}
.divider-notification{
  margin-bottom: 5px !important;
}
.dropdownInfo{
  padding-left: 10px;
}
.dropdownInfo h4 {
  font-size: 14px !important;
  font-weight: 500 !important;
  white-space: break-spaces;
  line-height: 21px;
}
.dropdownInfo b{
  font-weight:600 !important;
  margin-right: 5px !important;
}
.dropdownInfo p{
  font-size: 13px !important;
  font-weight: 500;
}
.text-sky{
  color: #0858f7;
}
.notification li.MuiMenuItem-root{
  background-color: #ebf6ff !important;
  color:#000 !important;
  padding: 10px 15px !important;
  transition: all 0.2s ease-in-out;
}
.dropdown_list .scroll{
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
}
::-webkit-scrollbar-thumb{
  background-color: #0858f7;
}
::-webkit-scrollbar-track{
  background-color: transparent !important;
}
.notification li.MuiMenuItem-root:hover{
  background-color: #c1d6ff !important;
}

.notification-btn a {
  padding: 8px 30px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  margin: 9px 30px 0px 30px;
  text-align: center;
  font-size: 15px !important;
  font-weight: 600;
  border-radius: 11px;
  transition: all 0.2s ease-in-out;
}
.notification-btn a:hover{
  background-color: #747f94 !important;
  color: #000;
}
.main .sidebarWrapper{
  width: 20%;
  flex: 0 0 23% ;
  transition: all 0.3s ease-in-out;
}
.main .sidebarWrapper .sidebar{
  width: 22%;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: white;
  max-height: calc(100% - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 40px !important;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar{
  width: 3px !important;
}
.main .sidebarWrapper .sidebar::-webkit-scrollbar-thumb{
  background-color: transparent !important;
}
.main .sidebarWrapper:hover .sidebar::-webkit-scrollbar{
  background-color:  #0858f7 !important;
}
.main .sidebarWrapper .sidebar ul{
  margin-bottom: 0;
  padding: 10px 15px;
}
.main .sidebarWrapper .sidebar ul li{
  list-style: none;

}
.main .sidebarWrapper .sidebar ul li button{
  color: #5e5d72 !important;
  text-align: left;
  justify-content: left;
  border-radius: 0px !important;
  padding: 12px 10px !important;
  align-items: center;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-family: "Open Sans", serif !important;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.main .sidebarWrapper .sidebar ul li button:hover{
  background-color: #f1f1f1;
}
.main .sidebarWrapper .sidebar ul li button.active{
  background-color: #ccc8c8;
}
.main .sidebarWrapper .sidebar ul li button.active .icon svg{
  color: #0858f7 !important;
}
.main .sidebarWrapper .sidebar ul li button.active .arrow{
  transform: rotate(90deg);
}
.main .sidebarWrapper .sidebar ul li button .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.main .sidebarWrapper .sidebar ul li button *{
  color: #5e5d72 !important;
}
.main .sidebarWrapper .sidebar ul li button .icon svg{
  font-size: 22px;
}
.main .sidebarWrapper .sidebar ul li button .arrow{
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
}
.main .sidebarWrapper .sidebar ul .submenu{
  padding: 0 35px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.main .sidebarWrapper .sidebar ul .submenu::before{
  content: '';
  width: 2px;
  height: 95%;
  position: absolute;
  left: 8%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.main .sidebarWrapper .sidebar ul .submenu ul{
  padding: 0 25px;
}
.main .sidebarWrapper .sidebar ul .submenu li{
  width: 100%;
  list-style: none;
}
.main .sidebarWrapper .sidebar ul .submenu li a{
  color: #5e5d72 !important;
  text-decoration: none;
  display: block;
  padding: 6px 0;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.main .sidebarWrapper .sidebar ul .submenu li a:hover{
  color:  #0858f7 !important;
  cursor: pointer;
}
.main .sidebarWrapper .sidebar ul .submenuwapper{
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.main .sidebarWrapper .sidebar ul .submenuwapper.colapsed{
  height: 0px;
}
.main .sidebarWrapper .sidebar ul .submenuwapper.colapsed .submenu{
  opacity: 0;
}
.main .sidebarWrapper .sidebar ul .submenuwapper.colapse{
  height: auto;
  overflow: inherit;
}
.main .sidebarWrapper .sidebar ul .submenuwapper.colapse .submenu{
  opacity: 1;
}
.logoutWrapper {
  padding: 0 25px;
}
.logoutWrapper .logoutBox{
  width: 100%;
  height: 130px;
  padding: 25px;
  background-color: #bcd2fd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.logoutWrapper .logoutBox::before{
  content: '';
  background-color: #0858f7;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: absolute;
  top: -20px;
  right: -20px;
  opacity: 0.5;
}
.logoutWrapper .logoutBox::after{
  content: '';
  background-color: #0858f7;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.5;
}
.logoutWrapper .logoutBox button{
  font-size: 14px !important;
  font-weight: 600;
}
.logoutWrapper .logoutBox button svg{ 
  font-size: 18px !important;
  margin-right: 5px;
}
.content{
  width: 80%;
  flex: 0 0 76%;
}
.right-content{
  padding: 95px 10px ;
}
.dashboardWrapper{
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.dashboardWrapper .dashboardBox {
  width: 47%;
  height: 170px;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left !important;
  position: relative;
  color: #fff;
}
.dashboardWrapper .dashboardBox .chart{
  opacity: 0.1;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.dashboardWrapper .dashboardBox .chart svg{
  font-size: 110px;
  color: #000;
}
.dashboardWrapper .dashboardBox .col1 h4{
  font-size: 16px;
  font-weight: 500; 
  margin-bottom: 0px;
  text-transform: capitalize;
  font-weight: 600;
}
.dashboardWrapper .dashboardBox .col1 span{
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
}
.dashboardWrapper .dashboardBox .icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
.dashboardWrapper .dashboardBox .icon svg{
  font-size: 36px;
  color: #fff;
  opacity: 0.5;
}
.dashboardWrapperBox .box{
  width: 100%;
  height: 100%;
}
.dashboardBox .month{

}
.dashboardBox .month h4{
  margin: 0 0 0 0;
}
.dashboardWrapper .dashboardBox .dot{
  margin: 0 0 0 0;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
#long-menu .MuiButtonBase-root svg{
  font-size: 17px !important;
  color: #000 !important;
  margin-right:10px !important ;
}
.graphBox {
  background-image: linear-gradient(#1a50b5,#2a6ff7);
  border-radius: 10px;
  padding: 25px;
}
.graphBox h6{
  font-weight: 600;
  font-size: 16px;
}
.graphBox .toggleIcon svg{
  color: #fff !important;
  font-size: 20px !important;
  opacity: 1 !important;
}
.graphBox p{
  font-size: 13px;
  color: #fff;
  opacity: 0.7;
}